<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <connectionStrings>
    <add name="TimeTrackingDB" connectionString="Server=192.168.0.12;Database=TimeTracking;Password=DbSyS@dm1n;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="TimeTrackingEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.12;initial catalog=TimeTracking;user id=sa;password=DbSyS@dm1n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connectionStringPlanning" connectionString="Server=192.168.0.12;Database=Planning;Password=DbSyS@dm1n;User ID=sa"/>
    <add name="connectionStringPetPro" connectionString="Server=192.168.0.12;Database=PetPro;Password=DbSyS@dm1n;User ID=sa"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="Server" value="192.168.0.135"/>
    <add key="Instance" value="30"/>
    <add key="InstanceName" value="EEP"/>
    <add key="Login" value="e_simonov"/>
    <add key="Password" value="surface"/>
    <add key="Client" value="500"/>
    <add key="Language" value="EN"/>
    <add key="MaximumMachines" value="15"/>
    <add key="TimeInMinutesMachineCountsWork" value="5"/>
    <add key="TimeInMinutesMachineCountsStop" value="5"/>
    <add key="TimeInSecondsToPreliminaryCalculateCycleTime" value="120"/>
    <add key="PreliminaryCyclesToAccurateCalculateCycleTime" value="10"/>
  </appSettings>
</configuration>